# Python specific
*.pyc
.Python
build/
develop-eggs/
dist/
eggs/
.egg-info/
lib/
lib64/
sdist/
var/
wheels/
share/python-wheels/
*.egg
.env

# Django specific
*.log
*.pot
*.mo
*.po
local_settings.py
db.sqlite3
media/
static/

# Editor backups
*~
*.bak
*.swp

# VSCode specific
.vscode/